<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src ="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />

</head>
<header>
    <header class="header--main-page">
        <nav class="container container--70">
            <span th:include="fragments/log-or-not :: log-or-not"></span>
            <span th:include="fragments/header :: header"></span>
        </nav>
    </header>
</header>
<table  style="color: black; justify-content:center; text-align: left;width:100%;border: solid 2px">

    <tr style="border: solid 1px">
        <th class="tables">Id</th>
        <th class="tables">Nazwa</th>
        <th class="tables">Opis</th>
    </tr>
    <tr style="border: solid 1px" th:each="i: ${institutions}">
        <td class="tables" th:text="${i.id}"></td>
        <td class="tables" th:text="${i.name}"></td>
        <td class="tables" th:text="${i.description}"></td>


        <td><a class="button" th:href="@{/institution/delete/{id}(id=${i.id})}"><button class="buttondelete" style="min-width: 50px">Delete</button></a>
            <a class="button" th:href="@{/institution/edit/{id}(id=${i.id})}"><button class="buttondelete" style="min-width: 50px">Edit</button></a></td>
    </tr>
</table>

<footer>
    <span th:include="fragments/footer :: footer"></span>
</footer>
</body>
</html>